
* {
  box-sizing: border-box;
}

.center {
    text-align: center;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(250px, 1fr)); */
    grid-template-rows: min-content;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* grid-row-end: span 1; */
    /* grid-gap: 10px; */
}

.grid .item {
    display: block;
    width: 100%;
    height: fit-content;
}

.grid .item img {
    border-radius: 15px;
    display: block;
    width: 100%;
    height: auto;
}